/* 
фон страницы: #FFFFFF
кнопки и эффект наведения: #2196F3 
фон ссылок в main: #F5F4FA
основной цвет текста(черный): #212121
второстепенный цвет текста(серый): #757575
цвет фона футера: #2F303A
Прозрачность адреса в футере: rgba(255, 255, 255, .6);
*/

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --hover-focus-color: #2196F3;
    --white-text-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

/* Первая страница */

/* Верхняя линия */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.blue-text {
    color: var(--hover-focus-color);
}

nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: var(--primary-text-color);

}

.current {
    color: var(--hover-focus-color);
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: var(--secondary-text-color)
}

/* Герой */

.hero {
    background-color: #2F303A;
}

.hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-text-color);
}

.order-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--white-text-color);
    background: var(--hover-focus-color);
    border-radius: 4px;
}

/* Особенности */
.benefits h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.benefits p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

.secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Наша команда */

.team {
    background-color: #F5F4FA;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.profession {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

/* вторая страница */

.hover-color:hover,
.hover-color:focus {
    color: var(--hover-focus-color);
}


/* Фильтры */

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;

    background: #F5F4FA;
    border: none;
    border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
    background: var(--hover-focus-color);
}

/* Примеры */

.examples-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.project-type {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

/* Подвал */

footer {
    background-color: #2F303A;
}

footer a {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    text-decoration: none;
    color: var(--white-text-color);
}

.footer-mail,
.footer-tel {
    color: rgba(255, 255, 255, .6);
}