/* 
фон страницы: #FFFFFF
кнопки и эффект наведения: #2196F3 
фон ссылок в main: #F5F4FA
основной цвет текста(черный): #212121
второстепенный цвет текста(серый): #757575
цвет фона футера: #2F303A
Прозрачность адреса в футере: rgba(255, 255, 255, .6);
*/

body {
    background-color: #fff;
    color: var(--primary-text-color);
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --hover-focus-color: #2196F3;
    --white-text-color: #ffffff;
}

/* Первая страница */

/* Герой */

.hero {
    background-color: #2F303A;
}

.hero h1 {
    color: var(--white-text-color);
}

button {
    color: var(--white-text-color);
    background: var(--hover-focus-color);
    border-radius: 4px;
}

/* Преимущества */

.benefits p {
    color: var(--secondary-text-color);
}

/* Наша команда */

.team {
    background-color: #F5F4FA;
}

.profession {
    color: var(--secondary-text-color);
}

/* вторая страница */

.list {
    list-style: none;
}

.hover-color:hover,
.hover-color:focus {
    color: var(--hover-focus-color);
}

/* Верхняя линия */

.blue-text {
    color: var(--hover-focus-color);
}

nav a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.contacts {
    text-decoration: none;
    color: var(--secondary-text-color)
}

/* Фильтры */

.filter-button {
    background: #F5F4FA;
    border: none;
    border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
    background: var(--hover-focus-color);
}

/* Примеры */

.project-type {
    color: var(--secondary-text-color);
}

/* Подвал */

footer {
    background-color: #2F303A;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.footer-mail,
.footer-tel {
    color: rgba(255, 255, 255, .6);
}